################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VirusTotal Uploader/VirusTotal Uploader/.vs/VirusTotal Uploader/v15/Server/sqlite3/db.lock
