<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="RestSharp" version="106.13.0" targetFramework="net46" />
  <package id="Costura.Fody" version="3.1.4" targetFramework="net46" />
  <package id="Fody" version="3.2.9" targetFramework="net46" developmentDependency="true" />
</packages>